<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Admin Dashboard</title>
  <meta name="description" content="The Federated Dashboard">
  <meta name="author" content="Riccardo Rinaldi">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<nav>
  <h1>DASHBOARD</h1>
    <p class="subtitle"><i>Connected to {{ session['yaksIp'] }}</i></p>
</nav>
  
  {% if 'nodes' in session %}
      <ul id="node-list">
      {% for node in session['nodes'] %}
          <li class="node-item">
              <div class="node-div">
                  <img src="{{ url_for('static', filename='pc-desktop.png') }}">
                  <lable>{{node}}</lable>
              </div>
          </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No nodes</p>
  {% endif %}

<section id="sidebar">
    <h3>Upload deployment configuration</h3>
    <form id="json-upload" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</section>
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>
