<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Admin Dashboard</title>
    <meta name="description" content="The Federated Dashboard">
    <meta name="author" content="Riccardo Rinaldi">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">

</head>

<body>
<nav>
  <h1>DASHBOARD</h1>
    <p class="subtitle"><i>Connected to {{ session['yaksIp'] }}</i></p>
</nav>
  
  {% if 'nodes' in session %}
      <ul id="node-list">
      {% for node in session['nodes'] %}
          <li class="node-item">
              <div class="node-div">
                  <lable><b>{{ node }}</b></lable>
                  <img src="{{ url_for('static', filename='pc-desktop.png') }}">

                  {% if 'instance/{}'.format(node) in session %}
                  {% set instance_id = session['instance/{}'.format(node)] %}
                  <p>Deployed instance:</p> <p>{{ instance_id }}</p>
                      {% if session[instance_id] == 'READY' %}
                      <form id="start" method="get" action="{{ url_for('start', node=node) }}">
                          <input type="submit" value="Start">
                      </form>
                      {% elif session[instance_id] == 'STARTED' %}
                      <form id="stop" method="get" action="{{ url_for('stop', node=node) }}">
                          <input type="submit" value="Stop">
                      </form>
                      {% elif session[instance_id] == 'STOPPED' %}
                      <form id="remove" method="get" action="{{ url_for('remove', node=node) }}">
                          <input type="submit" value="Remove">
                      </form>
                      {% else %}
                        <p>Unknown instance's state</p>
                      {% endif %}
                  {% elif 'fdu_uuid' in session %}
                  <form id="deploy" method="get" action="{{ url_for('deploy', node=node) }}">
                      <input type="submit" value="Deploy">
                  </form>
                  {% endif %}
              </div>
          </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No nodes</p>
  {% endif %}

<section id="sidebar">
    {% if 'fdu_descriptor' in session %}
    <h2>CURRENT CONFIGURATION</h2>
    {% if 'fdu_uuid' in session %}
    <h4>FDU <i>{{ session['fdu_uuid'] }}</i> has: </h4>
    {% endif %}
    <ul>
        <li><b>Name: </b> {{ session['fdu_descriptor']['id'] }}</li>
        <li><b>Hypervisor: </b> {{ session['fdu_descriptor']['hypervisor'] }}</li>
        <li><b>Image: </b> {{ session['fdu_descriptor']['image']['uri'] }}</li>
        <li><b>Migration: </b> {{ session['fdu_descriptor']['migration_kind'] }}</li>
    </ul>
    <form id="remove-config" action="{{ url_for('offload') }}">
        <input type="submit" value="Remove Configuration">
    </form>
    {% else %}
    <h3>Upload deployment configuration</h3>
    <form id="json-upload" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% endif %}
</section>
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>
