<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome Page</title>
  <meta name="description" content="The Federated Learning">
  <meta name="author" content="Riccardo Rinaldi">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
  <h1>Welcome to the Federated Learning World</h1>
  <h3>You are logged in as <i>{{username}}</i></h3>
  
  
  <ul>
      <li>Go to <a href='/dashboard'>dashboard</a></li>
      <li>View <a href='/css'>css</a> file</li>
  </ul>
  
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>
