body{
    margin: 0;
    font-family: "DejaVu Sans Mono", Arial, sans-serif;
    width: 100%;
    display: table;
    color: #2b2b2b
}

nav{
    padding: 10px 70px;
    background-color: #2e5a80;
    color: whitesmoke;
}

h1{
    margin-bottom: 0;
    font-size: 40px;
}

.subtitle{
    margin-top: 5px;
}

#node-list{
    display: table;
    padding: 0;
    margin: 20px;
    float: left
}

.node-item{
    float: left;
    list-style: none;
    padding: 20px;
    background-color: whitesmoke;
    margin: 10px;
    text-align: center;
}

.node-div img{
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

#sidebar{
	background-color: #3b3b3b;
	color: white;
	min-width: 300px;
	max-width: 400px;
	float: right;
	position: relative;
	right: 0;
	top: 0;
    padding: 10px 40px;
    height: 100vh;
}

#json-upload input {
	margin: 6px 0;
}

#deploy, #start {
    margin-top: 19px;
}

.node-div form input {
	display: block;
	margin: 0 auto;
	padding: 11px 45px;
	text-transform: uppercase;
	/* font-weight: bold; */
	/* color: #3b3b3b; */
	/* border: none; */
	/* border-radius: 4px; */
	/* box-shadow: 0px 0px 13px -7px black; */
	font-size: 14pt;
	cursor: pointer;
}

/*#deploy input{
    background-color: #ec9549;
}

#start input{
    background-color: #40cb47;
}

#stop input{
    background-color: #db4646;
}

#remove input{
    background-color: #bbbbbb;
}

#deploy input:hover, #start input:hover, #stop input:hover, #remove input:hover{
    background-color: #3b3b3b;
    color: whitesmoke;
}*/